LOCATE COMP "clk"  SITE "P6";
IOBUF   PORT "clk"  IO_TYPE=LVCMOS33;

LOCATE COMP "led0" SITE "T6";
LOCATE COMP "led1" SITE "R5";
LOCATE COMP "led2" SITE "R4";
LOCATE COMP "led3" SITE "R3";

IOBUF PORT "led0" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led3" IO_TYPE=LVCMOS33 DRIVE=4;
