LOCATE COMP "clk"   SITE "P6";
IOBUF   PORT "clk"   IO_TYPE=LVCMOS33;

LOCATE COMP "scan0"  SITE "T6";
LOCATE COMP "scan1"  SITE "P7";
LOCATE COMP "scan2"  SITE "R5";
LOCATE COMP "scan3"  SITE "R6";
LOCATE COMP "scan4"  SITE "R4";
LOCATE COMP "scan5"  SITE "T4";
LOCATE COMP "scan6"  SITE "R3";
LOCATE COMP "scan7"  SITE "T3";
LOCATE COMP "scan8"  SITE "F5";
LOCATE COMP "scan9"  SITE "H5";
LOCATE COMP "scan10" SITE "N4";
LOCATE COMP "scan11" SITE "J5";

IOBUF PORT "scan0"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan1"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan2"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan3"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan4"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan5"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan6"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan7"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan8"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan9"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan10" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "scan11" IO_TYPE=LVCMOS33 DRIVE=4;
